<h1>Edit</h1>

<% if @form.errors.any? %>
  <div>
    <h2>
      <%= pluralize(@form.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@form, url: moderator_path(@user), path: moderator_path(@user), method: :put) do |f| %>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :address %>
  </div>
  <div>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.text_field :email %>
  </div>

  <% if @user.moderator? %>
    <div>
      <%= f.label :workplace %>
    </div>
    <div>
      <%= f.text_field :workplace %>
    </div>

    <div>
      <%= f.label :profession %>
    </div>
    <div>
      <%= f.text_field :profession %>
    </div>
  <% end %>

  <% unless @user.moderator? %>
    <div>
      <%= f.label :banned %>
    </div>
    <div>
      <%= f.check_box :banned %>
    </div>

    <div>
      <%= f.label :deleted %>
    </div>
    <div>
      <%= f.check_box :deleted %>
    </div>
  <% end %>

  <div>
    <%= f.submit 'update' %>
  </div>
<% end %>
