<h1>Sign Up</h1>

<% if @form.errors.any? %>
  <div>
    <h2>
      <%= pluralize(@form.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@form, url: moderators_path, path: moderators_path) do |f| %>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :address %>
  </div>
  <div>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :email_confirmation %>
  </div>
  <div>
    <%= f.text_field :email_confirmation %>
  </div>

  <div>
    <%= f.label :workplace %>
  </div>
  <div>
    <%= f.text_field :workplace %>
  </div>

  <div>
    <%= f.label :profession %>
  </div>
  <div>
    <%= f.text_field :profession %>
  </div>

  <div>
    <%= f.check_box :check %>
    I read and accept something
  </div>

  <div>
    <%= f.submit 'Sign Up!' %>
  </div>
<% end %>
