<h1>User</h1>

<div>username: <%= @user.username %> </div>
<div>email: <%= @user.email %> </div>
<div>address: <%= @user.address %> </div>
<div>role: <%= @user.role %> </div>
<div>workplace: <%= @user.workplace %> </div>
<div>profession: <%= @user.profession %> </div>
<div>banned: <%= @user.banned %> </div>
<div>deleted: <%= @user.deleted %> </div>
<div>lat: <%= @user.position_lat %> </div>
<div>lon: <%= @user.position_lon %> </div>
