<!DOCTYPE html>
<html>
  <head>
    <title>WorkshopToyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <%= link_to(@current_user.username, user_path(@current_user)) if @current_user %>
    <%= link_to('log in', new_session_path) unless @current_user %>
    <%= link_to('log out', session_path, method: :delete) if @current_user %> |
    <%= link_to('users', users_path) %>
    <%= link_to('moderators', moderators_path) %>
    <br>
    <%= yield %>
  </body>
</html>
